* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

.head2 {
  background: #e3f5ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  /* margin-bottom: 1.5rem; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.head2 .head3 .heads {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 22px;
  transition: color 0.3s;
  font-size: 18px;
}

.head2 .head3 .heads:hover {
  color: rgb(83, 200, 246);
}

.head2 .logo a {
  color: linear-gradient(to right, rgba(3, 170, 254, 0.923), rgb(0, 222, 255));
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 23px;
  padding-left: 50px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.head2 .head3 {
  width: 60%;
  color: white;
  padding: 18px 0px;
  text-align: right;
  margin-right: 20px;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

*{
  box-sizing: border-box;
}

.About{
  display: inline-block;
  margin: 10%;
  margin-top: 5%;
  padding: 10px 20px;
}

.About .Details{
  float: left;
  display: table;
  padding: 15px 40px;
  font-size: 15px;
  height: 700px;
  width: 40%;
  letter-spacing: 3px;
  background-color: #fff;
}
.Details h1{
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 20%;
}

.Details p{
  margin: 20px;
  letter-spacing: 2px;
}

.About .image{
  float: right;
  height: 700px;
  width: 50%;
  background-color: rgb(193, 37, 185);
}
.image img{
  border: 30px solid white;
  margin-left: -20%;
  margin-top: 15%;
  width: 600px;
  height: 400px;
  box-shadow: 3px 3px 20px black;
}
/* --Footer styling-- */
.footer {
  height: 300px;
  width: 100%;
  gap: 100px;
  background-color: #ddf3ff;
}

.footermain {
  display: flex;
  width: 90%;
  gap: 20%;
  margin: 60px auto auto auto;
}

.imageicon {
  width: fit-content;
  height: 40px;
}
.imageiconf {
  height: 38px;
}

.contensection {
  margin-top: 110px;
  width: 50%;
}

.iconsection {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: baseline;
  margin-top: 170px;
  width: 50%;
}

/* Media query for screens with a width between 100px and 1150px */
@media screen and (min-width: 100px) and (max-width: 1150px) {
  /* Adjust styles for smaller screens */
  .head3 {
    flex-direction: column;
    text-align: center; /* Center-align the navigation links */
  }

  /* Adjust other styles as needed for smaller screens */
  .About {
    margin: 5%; 
  }

  .About .Details,
  .About .image {
    width: 100%; 
    height: 500px;
    float: none; 
     margin: 0; 
    padding: 10px; 
  }

  .image img {
    width: 100%;
    margin-left: 0; 
    margin-top: 0; 
  }

  }


/* responsiveness of footer section */

@media screen and (min-width: 100px) and (max-width: 1150px) {
  .logo a{
    margin-left: -40%;
  }
  .footer{
    height: auto;
  }
  .footermain{
    display: flex;
    height: fit-content;
    flex-direction: column;
  }
  .contensection{
    margin-top: 80px;
    width: 100%;
  }
  .iconsection{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: start;
  }
}

