* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

 /* navbar */
 .head2 {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddf3ff;
  width: 100%;
  /* padding: 5px 0; */
  /* margin-bottom: 1.5rem; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.head2 .head3 .heads {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 22px;
  transition: color 0.3s;
  font-size: 18px;
}

.head2 .head3 .heads:hover {
  color: rgb(83, 200, 246);
}

.head2 .logo a {
  color: linear-gradient(to right, rgba(3, 170, 254, 0.923), rgb(0, 222, 255));
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 23px;
  padding-left: 50px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.head2 .head3 {
  width: 60%;
  color: white;
  padding: 18px 0px;
  text-align: right;
  margin-right: 20px;
}





body {
        font-family: 'Arial', sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       

      }


   #container{
    margin-top: 50px;
    
   }
      
      .card {
        width: 400px;
        border: 1px solid #ccc;
        border-radius: 30px;
        margin: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
      }
  
      .card:hover {
        transform: scale(1.05);
      }
  
      .card img {
        width: 100%;
         height: 250px; 
        object-fit: cover;
        border-radius: 30px;
      }
  
      .card-content {
        padding: 15px;
      }
  
      .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
      }
  
      .card-description {
        font-size: 0.9em;
        color: #555;
        text-align: center;
      }
#head{
        font-size: 30px;
        font-weight: bold;
}
#container{
        align-items: center;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        gap: 20px;
}
#price {
        font-size: 18px;
        /* padding-left: 2px; */
        font-weight: bold;
      }
      .bookprice{
        display:flex;
      }
      .priceBox{
       margin-right: 120px;
      }
      .starts{
        color:gray;
        font-size: 13px;
      }
      #btn {
        background-image: linear-gradient(90deg,#00adfd 0,#00c6fe 51%,#00e3fe);
        border-radius: 40px;
        color: #fff;
        width: 100px;
        padding: 15px;
        border:none;
        margin:10px;
        
      }
