* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/* --------------ALIPA---------------- */
.header1 {
    color: black;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    background: #00a3ff;
    color: white;
}

.head2 {
    background: #e3f5ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    /* margin-bottom: 1.5rem; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.head2 .head3 .heads {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    padding: 22px;
    transition: color 0.3s;
    font-size: 18px;
}

.head2 .head3 .heads:hover {
    color: rgb(83, 200, 246);
}

.head2 .logo a {
    color: linear-gradient(to right, rgba(3, 170, 254, 0.923), rgb(0, 222, 255));
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 23px;
    padding-left: 50px;
    color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.head2 .head3 {
    width: 60%;
    color: white;
    padding: 18px 0px;
    text-align: right;
    margin-right: 20px;
}

.head2 span {
    display: none;
}

#login-form {
    width: 500px;
    margin: auto;
    text-align: center;
}

#login-form-heading {
    font-weight: 600;
    font-size: 30px;
    margin: auto;
    color: black;
    padding-top: 40px;
}

form {
    margin-top: 20px;
    width: 100%;
    min-width: 400px;
}

#links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

#links>div {
    display: flex;
    width: 130px;
    height: 50px;
    border-radius: 30px;
    justify-content: space-between;
    padding: 10px 12px 10px 2px;
    align-items: center;
    margin: 10px;
    color: white;
    cursor: pointer;
}

#links>div:nth-child(1) {
    background-color: #3d5595;
}

#links>div:nth-child(1) img {
    width: 50px;
    height: 45px;
    border-radius: 30px;
}

#links>div:nth-child(1)>span {
    justify-content: center;
}

#links>div:nth-child(2) {
    background-color: #4285f4;
}

#links>div:nth-child(2) img {
    width: 65px;
    height: 45px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: white;
    margin-left: 1px;


}

#links>div:nth-child(3) {
    background-color: #49a9f1;
}

#links>div:nth-child(3) img {
    width: 60px;
    height: 45px;
    border-radius: 30px;
    padding-left: 10px;
}

#links a {
    color: white;
    text-decoration: none;
}


#form-text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

hr {
    width: 35%;
    height: 1px;
    align-self: center;
}

#form-text span {
    text-transform: uppercase;
    font-size: 80%;
    width: 40%;
}

form p {
    margin-top: 50px;
}

#input-taking>p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 45px;
    font-weight: 100;
}

#input-taking {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

input {
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgba(128, 128, 128, 0.403);
    padding: 10px;
    margin: 10px 0px;
}

#input-taking>button {
    height: 50px;
    border-radius: 30px;
    border: 0px;
    margin-top: 50px;
    background-image: linear-gradient(90deg, #00adfd 0, #00c6fe 51%, #00e3fe);
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

#input-taking p {
    color: black;
}

#input-taking a {
    color: black;
}

/* footer */

@media all and (max-width: 800px) {
    #login-form {
        width: 400px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #login-form-heading {
        text-align: center;
        margin: auto;
    }
}

/* ----------------Footer styling----------------- */
.footer {
    height: 300px;
    width: 100%;
    gap: 100px;
    background-color: #ddf3ff;
}

.footermain {
    display: flex;
    width: 90%;
    gap: 20%;
    margin: 60px auto auto auto;
}

.imageicon {
    width: fit-content;
    height: 40px;
}

.imageiconf {
    height: 38px;
}

.contensection {
    margin-top: 110px;
    width: 50%;
}

.iconsection {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: baseline;
    margin-top: 170px;
    width: 50%;
}


/* responsiveness of footer section */

@media screen and (min-width: 100px) and (max-width: 1150px) {
    .logo a {
        margin-left: -40%;
    }

    .footer {
        height: auto;
    }

    .footermain {
        display: flex;
        height: fit-content;
        flex-direction: column;
    }

    .contensection {
        margin-top: 80px;
        width: 100%;
    }

    .iconsection {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
        justify-content: start;
    }
}
/* responsive  */
/* Media query for screens between 100px and 1150px */
@media screen and (min-width: 100px) and (max-width: 1150px) {
    .header1 {
      font-size: 12px;
      padding: 3px;
  
    }
  
    .head2 {
      padding: 3px 0;
  
    }
  
    .head2 .head3 .heads {
      padding: 15px;
      font-size: 16px;
      display: none;
    }
  
    .head2 .logo a {
      font-size: 1.2em;
      margin-left: 10px;
      padding-left: 30px;
    }
  .head2 span {
      display: block;
      margin-top: 24px;
      margin-right: 26px;
      /* background:black; */
  
    }
}