*{
    padding: 0;
    margin: 0;
  
  }

  .head2 {
    background: #e3f5ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    /* margin-bottom: 1.5rem; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  }
  
  .head2 .head3 .heads {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    padding: 22px;
    transition: color 0.3s;
    font-size: 18px;
  }
  
  .head2 .head3 .heads:hover {
    color: rgb(83, 200, 246);
  }
  
  .head2 .logo a {
    color: linear-gradient(to right, rgba(3, 170, 254, 0.923), rgb(0, 222, 255));
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 23px;
    padding-left: 50px;
    color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .head2 .head3 {
    width: 60%;
    color: white;
    padding: 18px 0px;
    text-align: right;
    margin-right: 20px;
  }

  .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      margin: 0 -16px;
      
    }
    
    .col-25 {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
    }
    
    .col-50 {
      -ms-flex: 50%; /* IE10 */
      flex: 50%;
    }
    
    .col-75 {
      -ms-flex: 75%; /* IE10 */
      /* border: 1px solid red; */
      margin: 10px;
      flex: 75%;
      /* background-image: url(header\ photo\ 2\ \(1\).avif); */
    }
    
    .col-25,
    .col-50,
    .col-75 {
      padding: 0 16px;
    }
    
    .container {
      width: 50%;
      margin: auto;
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      /* background-color: rgb(217, 196, 196); */
      
    }
    
    input[type=text] {
      width: 97%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    label {
      margin-bottom: 10px;
      display: block;
    }
    
    .icon-container {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }
    
    .btn {
      background-color: #04AA6D;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
    }
    
    .btn:hover {
      background-color: #45a049;
    }
    
    span.price {
      float: right;
      color: grey;
    }
    
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {
      .row {
        flex-direction: column-reverse;
      }
      .col-25 {
        margin-bottom: 20px;
      }
    }
  /* ----------------Footer styling----------------- */
  .footer {
    height: 300px;
    width: 100%;
    gap: 100px;
    background-color: #ddf3ff;
  }
  
  .footermain {
    display: flex;
    width: 90%;
    gap: 20%;
    margin: 60px auto auto auto;
  }
  
  .imageicon {
    width: fit-content;
    height: 40px;
  }
  .imageiconf{
    height: 38px;
  }
  
  .contensection {
    margin-top: 110px;
    width: 50%;
  }
  
  .iconsection {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: baseline;
    margin-top: 170px;
    width: 50%;
  }

 
  

