/************************** UPI style start here *******************/

body {
    margin: 0;
    padding: 0;
  }

  .head2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddf3ff;
    /* padding: 5px 0; */
    /* margin-bottom: 1.5rem; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  }
  
  .head2 .head3 .heads {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    padding: 22px;
    transition: color 0.3s;
    font-size: 18px;
  }
  
  .head2 .head3 .heads:hover {
    color: rgb(83, 200, 246);
  }
  
  .head2 .logo {
    
    color: linear-gradient(to right,
        rgba(3, 170, 254, 0.923),
        rgb(0, 222, 255));
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 23px;
    padding-left: 50px;
  }
  
  .head2 .head3 {
    width: 60%;
    color: white;
    padding: 18px 0px;
    text-align: right;
    margin-right: 20px;
  }
.payment-method{
    padding-left: 240px;
   

}
.method-heading {
    text-align: center;
    padding-left: 250px;
}
.paymentData {
    /* border: 1px solid red; */
    display: flex;
    width: 120%;
    /* justify-content:space-evenly ; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    gap: 20px;
}

.payment-list li {
    /* border: 1px solid red; */
    width: 200px;
    margin: 3px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color: rgb(247, 247, 247);

}

.first-list {
    border: 1px solid rgb(47, 78, 255);
    /* background-color: rgb(199, 29, 29); */

}

.payment-list ul li button {
    text-decoration: none;
    border:none;
    padding: 10px;
    color: rgb(2, 2, 2);
    /* line-height: 60px; */
    text-decoration: none;

    font-size: 17px;
    margin: 4px 2px;
    width: 200px;
    font-family: sans-serif;
}

.payment-list ul li a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

.payment-list ul li:hover {
    background-color: rgb(255, 255, 255);
}

/* New UPI style here */
.input-upi-id {
    display: flex;
    gap: 15px;
}

.enterUpi input[type="text"] {
    border: 1px solid rgb(196, 188, 188);
    width: 350px;
    padding: 12px 15px;
    border-radius: 15px;
}

#verify {
    border: 1px solid white;
    padding: 12px 15px;
    width: 90px;
    border-radius: 15px;
    font-size: medium;
    cursor: pointer;
    color: white;
    background-color: rgb(255, 137, 20);
}

.check-box {
    margin-top: 10px;
}

#kyc {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.kyc-code button {
    border: 1px solid rgb(196, 188, 188);
    padding: 12px 15px;
    color: rgb(49, 46, 46);
    background-color: rgb(243, 213, 82);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#securely-payment {
    /* border: 1px solid firebrick; */
    text-align: center;
    margin-top: 50px;
    padding: 3px 13px;
    width: 25%;
    height: 9%;
    border-radius: 15px;
    color: white;
   background-image: linear-gradient(90deg, #00adfd 0, #00c6fe 51%, #00e3fe)
    /* transition: .2s linear; */
}

#securely-payment a {
    text-decoration: none;
    color: white;
    transition: .2s linear;
}

#credit-card-num input[type="text"] {
    border: 1px solid rgb(196, 188, 188);
    width: 350px;
    padding: 12px 15px;
    border-radius: 15px;
    margin-top: 20px;
}

.creditcard-info {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.creditcard-info #expiry-month {
    border: 1px solid rgb(196, 188, 188);
    padding: 12px 12px;
    border-radius: 10px;
    background-color: rgb(243, 213, 82);
    border: none;
}

.creditcard-info #expiry-year {
    border: 1px solid rgb(196, 188, 188);
    padding: 12px 12px;
    background-color: rgb(243, 213, 82);
    border-radius: 10px;
    border: none;
}


#secure-payment{
    text-align: center;
    margin-top: 50px;
    padding: 3px 12px;
    width: 25%;
    height: 9%;
    border-radius: 15px;
    color: white;
   background-image: linear-gradient(90deg, #00adfd 0, #00c6fe 51%, #00e3fe)
}

#securely-payment button:a {
    opacity: .8;
    letter-spacing: 2px;
}

#securely-pay {
    border: none;
    color: white;
    width: 100%;
    padding: 13px 15px;
    /* border-radius: ; */
    background-image: linear-gradient(90deg, #00adfd 0, #00c6fe 51%, #00e3fe)
}

/*********************** UPI Style end here ***********************************/



/* ***********Debit style start here*************** */

.enterName-card input[type="text"] {
    border: 1px solid rgb(196, 188, 188);
    width: 350px;
    padding: 12px 15px;
    border-radius: 15px;
}

#debit-card-num input[type="text"] {
    border: 1px solid rgb(196, 188, 188);
    width: 350px;
    padding: 12px 15px;
    border-radius: 15px;
    margin-top: 20px;
}

.debitcard-info {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.debitcard-info #expiry-month {
    border: none;
    padding: 12px 12px;
    background-color: rgb(243, 213, 82);
    border-radius: 10px;
}

.debitcard-info #expiry-year {
    border: none;
    padding: 12px 12px;
    background-color: rgb(243, 213, 82);
    border-radius: 10px;
}

#cvv-num {
    padding: 14px 15px;
    border-radius: 10px;
    width: 50px;
    border: none;
    background-color: rgb(243, 213, 82);
  

}


/***** Cash On style start here***** */

.cashpage {
    display: flex;
    /* border: 1px solid red; */
    gap: 7px;
    font-family: sans-serif;
    border: 1px solid rgb(201, 196, 196);
    border-radius: 5px;
    padding-left: 10px;
}

.cashpage img {
    /* border: 1px solid red; */
    padding-top: 7px;
}

.cashpara {
    width: 300px;
}

.sureAdd {
    /* border: 1px solid red; */
    width: 500px;
    padding-left: 70px;
}

.sureAdd span {
    color: rgb(72, 70, 70);
}

.confirm-order {
    z-index: 9999;
    /* position: fixed;  */
}

#butcash {
    /* border: 1px solid red; */
    font-size: 20px;
    margin: 30px;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 200px;
    font-family: sans-serif;
    cursor: pointer;
    background-image: linear-gradient(90deg, #00adfd 0, #00c6fe 51%, #00e3fe);
    color: white;
}


.popup {

    width: 400px;

    background-color: #fff;

    color: #333;
    padding: 0 30px 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 6px;
    visibility: hidden;
    transition: transform 0.4s, top 0.2s;

}

.open-popup {

    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.popup img {
    width: 100px;
    margin-top: -50px;

    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;

}


.popup button {
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.payment-method {
    /* border: 5px solid black; */
    display: flex;
    justify-content: space-between;

}

.demo {
    /* border: 1px solid green; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* order-summary style */
.green {
    color: green;
}

.gray {
    color: rgb(110, 110, 110);
}
/* ----------------Footer styling----------------- */
.footer {
    height: 300px;
    width: 100%;
    gap: 100px;
    background-color: #ddf3ff;
  }
  
  .footermain {
    display: flex;
    width: 90%;
    gap: 20%;
    margin: 60px auto auto auto;
  }
  
  .imageicon {
    width: fit-content;
    height: 40px;
  }
  
  .imageiconf {
    height: 38px;
  }
  
  .contensection {
    margin-top: 110px;
    width: 50%;
  }
  
  .iconsection {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: baseline;
    margin-top: 170px;
    width: 50%;
  }