* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: , sans-serif; */
}

/* --------------ALIPA---------------- */
.header1 {
  background-color: rgb(83, 200, 246);
  color: black;
  padding: 3px;
  font-size: 15px;
  text-align: center;
  
}

.head2 {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 0; */
  /* margin-bottom: 1.5rem; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.head2 .head3 .heads {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 22px;
  transition: color 0.3s;
  font-size: 18px;
}

.head2 .head3 .heads:hover {
  color: rgb(83, 200, 246);
}

.head2 .logo {
  color: linear-gradient(to right,
      rgba(3, 170, 254, 0.923),
      rgb(0, 222, 255));
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 23px;
  padding-left: 50px;
  
}
.head2 .logo a { 
  text-decoration: none;
  color: linear-gradient(to right,
  rgba(3, 170, 254, 0.923),
  rgb(0, 222, 255));
}

.head2 .head3 {
  width: 60%;
  color: white;
  padding: 18px 0px;
  text-align: right;
  margin-right: 20px;
}

/* <!-- main image container --> */
.body1 {
  background-image: url(/image/background\ image\ .png);
  /* background-image: url(/image/Adventures\ in\ Australia.jpeg); */
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: 140px;
  font-family: "Poppins", sans-serif;
  
}

.body1 .headertext h1 {
  font-size: 3.5rem;

}

.body1 .headertext p {
  font-size: 16px;
    line-height: 30px;
    padding-right: 142px;
}

.body1 .headertext button {
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right,
      rgba(3, 170, 254, 0.923),
      rgb(0, 222, 255));
  padding: 10px 15px;
  margin-top: 15px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;

}
button {
  height: 48px;
  width: 180px;
}

/* <!-- image --> */
.headimgdiv {
  position: relative;
  width: 90%;
  /* padding-top: 80px; */
  padding-left: 161px
}

.headerphoto1 {
  position: relative;
  z-index: 1;
}

.headerphoto1 img {
  border-radius: 600px;
  size: 30px;
  height: 433px;
    width: 273px;
}

.headerphoto2 {
  position: absolute;
  top: 130px;
  left: 330px;
  z-index: 2;
  /* padding-top: 80px; */
}

.headerphoto2 img {
  border-radius: 600px;
  border: 10px solid white;
  size: 30px;
  height: 368px;
    width: 255px;
}

/* <!-- text --> */
.headertext {
  width: 80%;
  padding-top: 115px;
  font-family: 'DM Serif Display', serif;
}

.dropdowndiv{
  display: flex;
  gap: 30px;
  justify-content: center;
  border: 1px solid red;
  height: 100px;
 
}
.dropdowndiv1{
  border: 1px solid blue;
  text-align: center;
  padding-top: 40px;
  height: auto;
  width: 200px;
  color: grey;
  font-size: 20px;

}




.body2 {
  text-align: center;
  padding-top: 200px;
  font-size: 25px;
  background-image: url("/image/skyphoto.jpeg");
}

/* boxes */
 /* .maindiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
   gap: 30px; 
 
 } */
.body2__grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
   gap: 30px; 
 
}

.body2__card {
  padding: 3rem 2rem;
  text-align: center;
  height: 390px;
  width: 350px;
  border-radius: 30px;
  background-color:white;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);
 
}

.body2__card span {
  display: inline-block;
  padding: 20px 32px;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--white);
  background: linear-gradient(to right,
  rgba(3, 170, 254, 0.923),
  rgb(0, 222, 255));
  border-radius: 100%;
}

.body2__card:nth-child(2) span {
  background: linear-gradient(to right,
  rgba(3, 170, 254, 0.923),
  rgb(0, 222, 255));
}

.body2__card:nth-child(3) span {
  background-color: #ffcca3;
}

.body2__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.body2__card p {
  color: var(--text-light);
  line-height: 1.75rem;
}


/* .box {
  display: block;
    border-radius: 10px;
    height: 339px;
    display: flex;
    /* padding: 0px; */
    /* width: 374px;
    padding-left: 21px;
    padding-right: 7px;
    padding-top: -25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */


 
.container {
  width: 150px;
  height: 70px;
  padding-top: 50px;
  padding-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px";

}

.container h2 {
  text-align: center;
}





/* --------------ANJALI ---------------- */








/* --------------ANSHU  ---------------- */

.mainsection3 {
  text-align: center;
  margin:20px;
  justify-content: space-between;
}
.mainsection3 h1{
  font-family: Arial, Helvetica, sans-serif;;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 50px;
}
.mainsection3 p{
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  font-size: 25px;
}
#worldMap {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;;
  
}
.card-container2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card-content {
  padding: 15px;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: cursive;
}
.card-description {
  font-size: 0.9em;
  color: #555;
  text-align: center;
}
.card img {
  width: 100%;
   height: 250px; 
  object-fit: cover;
  border-radius: 30px;
}
#btn {
  background-image: linear-gradient(90deg,#00adfd 0,#00c6fe 51%,#00e3fe);
  border-radius: 40px;
  color: #fff;
  width: 100px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
 
  margin:10px;
  border:none;
}
.price {
  font-size: 18px;
  /* padding-left: 2px; */
  font-weight: bold;
}
.bookprice{
  display:flex;
}
.priceBox{
 margin-right: 90px;
}
.starts{
  color:gray;
  font-size: 13px;
}
#more{
  align-items: center;
  text-align: center;
  justify-content: center;
}
#explore{
  background-image: linear-gradient(90deg,#00adfd 0,#00c6fe 51%,#00e3fe);
  border-radius: 10px;
  justify-content: center;
  color: #fff;
  width: 150px;
  padding: 15px;
  border:none;
 
}


/* --------------KUNDAN   section5---------------- */
.MountainSection {
  width: 100%;
  height: 450px;
}

.h1form {
  width: fit-content;
  padding-top: 15px;
  margin: auto;
  padding-bottom: 10px;
}

.Formpara {
  margin: auto;
  width: fit-content;
}

.fullForm {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
}

.TouchForm {
  display: flex;
  width: 100%;
  gap: 10px;
  padding-top: 60px;
  margin: auto;
}

.input {
  color: gray;
  border: none;
  width: 100%;
  border-bottom: 1px solid grey;
}

.textarea {
  padding-top: 100px;
  width: 100%;
  margin: auto;
}

.input1 {
  width: 98%;
  border: none;
  color: gray;
  margin-left: 1%;
  border-bottom: 1px solid grey;
}

.button {
  padding-top: 30px;
  margin: auto;
  width: fit-content;
}

.btn {
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, rgba(3, 170, 254, 0.923), rgb(0, 222, 255));
  padding: 10px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  width: 160px;
  height: 50px;

}

.section5 {
  margin-bottom: 50px;
}


/* ----------------Footer styling----------------- */
.footer {
  height: 300px;
  width: 100%;
  gap: 100px;
  background-color: #ddf3ff;
}

.footermain {
  display: flex;
  width: 90%;
  gap: 20%;
  margin: 60px auto auto auto;
}

.imageicon {
  width: fit-content;
  height: 40px;
}
.imageiconf{
  height: 38px;
}

.contensection {
  margin-top: 110px;
  width: 50%;
}

.iconsection {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: baseline;
  margin-top: 170px;
  width: 50%;
}

/* ----------------------------------------------------------------------- */

.card p {
  color: gray;
}

#starts {
  color: gray;
  margin: 40px;
}

#bookprice {
  display: flex;
}
